header {
background-color: #ffc400;
text-align: center;
}
.title2 {
text-align: center;
}

main
{
background-color: khaki;

}
footer
{
    background-color: darkgray;
    text-align: justify;

}

.logo {
    text-align: right;


}

section {
    padding: 20px;
    text-align: center;
    background-color: rgb(129, 99, 99);
}
.veterinarias{
    text-align: center;

}

.Proa{
    text-align: center;

}
.logo_IG{
    display: flex;
    justify-content: right;

}

.instagram {
    margin-left: 30%;
}

.imagen {
    display: flex;
    justify-content: center;
    margin: 20PX 0;
   
    width: 70% ;
    height: 70% ;

}
button {
    display: inline-block;
}
