header {
background-color: #ffc400;
text-align: center;
}
.title2 {
text-align: center;
}

main
{
background-color: khaki;

}
footer
{
    background-color: darkgray;
    text-align: justify;

}

.logo {
    text-align: right;


}